.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.loginForm{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.loginForm h3{
    text-align: center;
    color: #333;
}
.signForm{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.signForm h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.btn{
    width: 40%;
    border-radius: 1rem !important;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    padding: 0px 1.5%;
}
.loginForm .btnSubmit , .loginForm .btn{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.signForm .btnSubmit{
    margin-top: 10px;
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
